
<div *ngIf="stockList">
    <h2><span>Stock List</span> {{stockList.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Symbol</span></dt>
        <dd>
            <span>{{stockList.symbol}}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
            <span>{{stockList.name}}</span>
        </dd>
        <dt><span>Last Sale</span></dt>
        <dd>
            <span>{{stockList.lastSale}}</span>
        </dd>
        <dt><span>Market Cap</span></dt>
        <dd>
            <span>{{stockList.marketCap}}</span>
        </dd>
        <dt><span>Ipo Year</span></dt>
        <dd>
            <span>{{stockList.ipoYear}}</span>
        </dd>
        <dt><span>Sector</span></dt>
        <dd>
            <span>{{stockList.sector}}</span>
        </dd>
        <dt><span>Industry</span></dt>
        <dd>
            <span>{{stockList.industry}}</span>
        </dd>
        <dt><span>Adr</span></dt>
        <dd>
            <span>{{stockList.adr}}</span>
        </dd>
        <dt><span>Summary Quote</span></dt>
        <dd>
            <span>{{stockList.summaryQuote}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'stock-list/'+ stockList.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
