<div>
    <h2>
        <span>Stock Lists</span>
        <button class="btn btn-primary float-right jh-create-entity create-stock-list" [routerLink]="['/', { outlets: { popup: ['stock-list-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Stock List
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="stockLists">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="symbol"><span>Symbol</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span>Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastSale"><span>Last Sale</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="marketCap"><span>Market Cap</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ipoYear"><span>Ipo Year</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sector"><span>Sector</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="industry"><span>Industry</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="adr"><span>Adr</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="summaryQuote"><span>Summary Quote</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let stockList of stockLists ;trackBy: trackId">
                <td><a [routerLink]="['../stock-list', stockList.id ]">{{stockList.id}}</a></td>
                <td>{{stockList.symbol}}</td>
                <td>{{stockList.name}}</td>
                <td>{{stockList.lastSale}}</td>
                <td>{{stockList.marketCap}}</td>
                <td>{{stockList.ipoYear}}</td>
                <td>{{stockList.sector}}</td>
                <td>{{stockList.industry}}</td>
                <td>{{stockList.adr}}</td>
                <td>{{stockList.summaryQuote}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../stock-list', stockList.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'stock-list/'+ stockList.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'stock-list/'+ stockList.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
